/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMONS */
#root {
    font-family: 'Lato', sans-serif;
    height: 100vh;
    background: linear-gradient(to top, #dbdbd2 80%, #009688 20%);
    background-repeat:no-repeat; 
    padding: 20px 0;
}
.flex {
    display: flex;
    align-items: center;
}
.no-shrink {
    flex-shrink: 0;
}
.container {
    width: 70%;
    height: 100%;
    background-color: lightblue; /*debug*/
    margin: 0 auto;
}

/* COL CONTACT */
.col-contact {
    width: 35%;
    height: 100%;
    background-color: lightyellow; /*debug*/
    display: flex;
    flex-direction: column;
}
/* box user */
.col-contact .box-user {
    width: 100%;
    height: 65px;
    background-color: #eaeaea;
    justify-content: space-between;
    padding: 0 10px;
}
.col-contact .box-user .col-nameUser-pic #mypic{
    width: 45px;
    border-radius: 50%;
}
.col-contact .box-user .col-user-options i {
    margin: 0 7px;
    color: #b1b1b1;
    font-size: 1.2rem;
}
/* box notifications */
.col-contact .box-notifications {
    width: 100%;
    height: 70px;
    background-color: #8edafc; 
}
.col-contact .box-notifications .off-sound {
    width: 45px;
    height: 45px;
    line-height: 45px;
    background-color: white;
    border-radius: 50%;
    margin: 0 10px;
}
.col-contact .box-notifications .off-sound i {
    font-size: 20px;
    color: #8edafc;
    padding: 10px;
}
.col-contact .box-notifications .enable-notifications p {
    font-size: 12px;
    text-decoration: underline;
    color: gray;
    margin-top: 2px;
}
/* box search */
.col-contact .box-search {
    width: 100%;
    height: 40px;
    background-color: #eaeaea;
    padding: 4px;
}
.col-contact .box-search input {
    width: 80%;
    height: 100%;
    font-size: 12px;
    border: 1px solid #f5f5f5
}
.col-contact .box-search .search-icon {
    width: 20%;
    height: 100%;
    line-height: 30px;
    text-align: center;
    background-color: white;
}
.col-contact .box-search .search-icon i {
    color: #b1b1b1;
}
/* box contact list */
.col-contact .box-contact {
    width: 100%;
    height: calc(100% - 8% - 10% - 6%);
    background-color: lightslategray; /*debug*/
}


/* COL CHAT */
.col-chat {
    width: 65%;
    height: 100%;
    background-color: lightgreen; /*debug*/
}