/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMONS */
#root {
    font-family: 'Lato', sans-serif;
    height: 100vh;
    background: linear-gradient(to top, #dbdbd2 80%, #009688 20%);
    background-repeat: no-repeat;
    padding: 20px 0;
}
.container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}
.flex {
    display: flex;
    align-items: center;
}
.no-shrink {
    flex-shrink: 0;
}
.avatar-img {
    width: 48px;
    border-radius: 50%;
    cursor: pointer;
}
.user-icons i {
    margin: 0 7px;
    color: #b1b1b1;
    font-size: 1.2rem;
}
.sent {
    margin-left: auto;
    background-color: #d5f9ba;
}
.received {
    margin-right: auto;
    background-color: white;
}
i {
    cursor: pointer;
}

/* COL CONTACT */
.col-contact {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
/* box user */
.box-user {
    width: 100%;
    height: 65px;
    background-color: #eaeaea;
    justify-content: space-between;
    padding: 0 10px;
    border-right: 1px solid lightgray;
}
#mypic {
    width: 45px;
    border-radius: 50%;
    cursor: pointer;
}
/* box notifications */
.box-notifications {
    width: 100%;
    height: 70px;
    background-color: #8edafc;
}
.box-notifications .off-sound {
    width: 45px;
    height: 45px;
    line-height: 45px;
    background-color: white;
    border-radius: 50%;
    margin: 0 10px;
}
.off-sound i {
    font-size: 20px;
    color: #8edafc;
    padding: 10px;
}
.enable-notifications p {
    font-size: 12px;
    text-decoration: underline;
    color: gray;
    margin-top: 2px;
}
/* box search */
.box-search {
    width: 100%;
    height: 40px;
    background-color: #eaeaea;
    padding: 4px;
}
.box-search input {
    width: 80%;
    height: 100%;
    font-size: 12px;
    border: 1px solid #f5f5f5;
    border-radius: 2px;
    padding: 0 15px;

}
.search-icon {
    width: 20%;
    height: 100%;
    line-height: 30px;
    text-align: center;
    background-color: white;
}
.search-icon i {
    color: #b1b1b1;
}
/* box contact list */
.box-contact {
    width: 100%;
    height: calc(100% - 65px - 70px - 40px);
    background-color: white;
    overflow-y: scroll;
}
.box-contact ul {
    list-style: none;
}
.box-contact ul li {
    padding: 8px 20px;
    cursor: pointer;
}
.box-contact ul li:not(:last-child) {
    border-bottom: 1px solid #f5f5f5;
}
.box-contact h5 {
    align-self: flex-start;
    margin-left: 10px;
}
.active-contact {
    background-color: #e9ebeb;
}


/* COL CHAT */
.col-chat {
    width: 70%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
}
/* header section */
.box-header {
    width: 100%;
    height: 65px;
    background-color: #eaeaea;
    justify-content: space-between;
    padding: 0 10px;
}
.box-header .current-name-user {
    margin-left: 10px;
}
.box-header .last-access {
    font-size: 10px;
    color: gray;
}
/* main section */
.box-main {
    width: 100%;
    flex-grow: 1;
    background-image: url(../img/mine.jpg);
    overflow-y: scroll;
}
.box-main .chat-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px 60px;
}
.box-main .message {
    max-width: 40%;
    width: 40%;
    margin-bottom: 8px;
    padding: 10px 10px 5px;
    border-radius: 0.5rem;
}
.message .text {
    /* max-width: 90%; */
    font-size: 14px;
}
.message .delivery-date {
    font-size: 8px;
    color: gray;
    text-align: right;
    padding-top: 2px;
}
.check::after {
    content: '\f560';
    font-family: "Font Awesome 5 Free";
    font-size: 10px;
    font-weight: 900;
    color: #2aa6d6;
    padding-left: 5px;
}
/* footer section */
.box-footer {
    width: 100%;
    height: 65px;
    background-color: #f3eeea;
    padding: 10px 0;
}
.box-footer input {
    flex-grow: 1;
    font-size: 12px;
    height: 100%;
    border-radius: 2px;
    padding: 0 10px;
    border: none;
}
.col-chat .smile-icon,
.col-chat .audio-icon {
    width: 10%;
    height: 100%;
    line-height: 45px;
    text-align: center;
    font-size: 20px;
    color: #6b7376;
}